@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* :root {
    --background-body: #e5e5e5;
    --background-brown: #756157;
    --accent-color: #82b3d3;
    --main-text-color: #333333;
    --text-colored-background: #ffffff;
    --favorite-color: #7db54f;
} */

/* Базовые стили */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: var(#e5e5e5);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Кнопки */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #7db54f;
  text-transform: uppercase;
  border: 0 solid transparent;
  border-radius: 4px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.brown {
  background-color: #756157;
}

.blue {
  background-color: #82b3d3;
}

.gray {
  color: #000;
  background-color: #f2f2f2;
}

/* Шапка */

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: -5px;
}

.navigation-left-link-wrapper {
  display: flex;
}

.navigation {
  display: flex;
  margin-left: 47px;
  margin-bottom: 5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  padding: 17px;
  font-weight: 700;
  color: #000;
}

.underline {
  position: relative;
}

.underline::after {
  position: absolute;
  right: 17px;
  bottom: -3px;
  left: 17px;
  display: block;
  height: 2px;
  content: "";
  background-color: #756157;
}

.navigation-right-link-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.number-of-favorites {
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
  padding: 8px 0;
  margin-left: 20px;
}

main {
  flex-grow: 1;
}

/* Герой */

.hero {
  text-align: center;
}

.hero-wrapper {
  width: 100%;
  max-height: 485px;
  box-sizing: border-box;
  background-color: #82b3d3;
  background-image: url(../images/hero/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 51px 0 82px 0;
}

.hero-wrapper::after {
  display: block;
  width: 1200px;
  height: 57px;
  margin-top: 25px;
  content: "";
  background-image: url(../images/hero/vector.png);
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hero-title {
  width: 620px;
  padding: 63px 290px 31px;
}

.hero-description {
  width: 658px;
  padding: 0 271px 90px;
}

.description {
  color: #333;
}

/* Преимущества */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.second-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  width: 230px;
  padding: 89px 85px;
  text-align: center;
}

.advantages-featuris-latest {
  padding: 80px 85px;
  text-align: center;
}

.advantages-item-latest {
  width: 230px;
  padding: 103px 85px;
  text-align: center;
}

.advantages-picture {
  display: flex;
  color: #fff;
  background-color: #82b3d3;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-featuris {
  display: flex;
}

.advantages-featuris-image {
  margin-bottom: 30px;
}

.subtitle {
  width: 230px;
  height: 56px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle-small {
  height: 28px;
  color: #000;
}

.advantages-description {
  width: 232px;
  font-size: 18px;
  line-height: 21px;
}

/* Поиск */

.search {
  text-align: center;
}

.search-title {
  padding: 91px 0 29px 0;
}

.search-descriosion {
  padding: 0 304px 56px;
}

.search-button {
  width: 574px;
  padding: 12px 15px;
  margin: 0 313px 93px;
}

/* Подписка */

.subscription {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/subscribe/index-subscription-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  padding-top: 94px;
  padding-bottom: 29px;
}

.subscription-label-wrapper {
  padding: 0 362px 46px;
}

.subscription-input-wrapper {
  display: flex;
  align-items: center;
  width: 800px;
  padding: 0 200px 94px 200px;
}


.user-field {
  width: 600px;
  padding: 19px 0 19px 22px;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  border: 0 solid transparent;
  border-radius: 10px 0 0 10px;
}

.subscription-button {
  width: 200px;
  padding: 12px 15px;
  border-radius: 0px 10px 10px 0px;
}

.results-price {
  font-size: 18px;
  line-height: 21px;
}

/* Подвал */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-tel-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.social {
  display: flex;
  align-items: center;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
}

.academy-link {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 0;
}

/* Фильтр */

.filter {
  font-size: 18px;
  line-height: 21px;
  padding: 35px 70px 70px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/filter/catalog-filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-left-wrapper {
  display: flex;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-bottom: 10px;
}

.breadcrums {
  display: flex;
  padding-bottom: 40px;
}

.breadcrums-item {
  font-size: 16px;
  line-height: 21px;
}

.arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.filter-form-group {
  border: none;
}

.filter-form-group:not(:last-child) {
  margin-right: 70px;
}

.filter-form-item:not(:last-child) {
  padding-bottom: 15px;
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.control-wrapper {
  display: flex;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
  padding: 14px 0 13px 17px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.control-left-rounding {
  border-radius: 4px 0 0 4px;
}

.control-right-rounding {
  border-radius: 0 4px 4px 0;
}

.filter-butten {
  width: 160px;
  padding: 14px 0;
}

.filter-reset {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
  border: 0;
}

/* Результат */

.results {
  padding-top: 5px;
}

.results-wrapper {
  display: flex;
  align-items: center;
  padding: 50px 0 56px 70px;
}

.price-select {
  width: 290px;
  padding: 14px 0 14px 20px;
  margin-left: 190px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.show-wrapper {
  display: flex;
  margin-left: 78px;
}

.show-form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.show-form-link:not(:last-child) {
  margin-right: 8px;
}

.show-choice {
  border: 2px solid #000000;
}

/* Карточки */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0 72px 66px 72px;
  gap: 0 18px;
}

.cards-item {
  padding: 20px;
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-subtitle {
  color: #000000;
  padding: 16px 0 16px 0;
}

.results-price-wrapper {
  display: flex;
  padding-bottom: 16px;
}

.results-price {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  border-radius: 4px;
}

.price-card {
  width: 290px;
  padding-bottom: 16px;
}

.price-card:not(:last-child) {
  margin-right: 20px;
}

.result-button {
  font-weight: 400;
  width: 140px;
  padding: 8px 0;
  color: #333;
  text-transform: uppercase;
  border-radius: 4px;
}

.result-button:not(:last-child) {
  margin-right: 20px;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Пагинация */

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 25px 0;
  margin: 0 71px 0 73px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
}

.pagination-item:not(:last-child) {
  padding-right: 8px;
}

.pagination-buttons {
  width: 60px;
  height: 60px;
}

.number-select {
  width: 160px;
  height: 49px;
  margin-left: 51px;
  padding: 14px 20px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

/* Каталог-подписка */

.subscription-catalog {
  background-image: none;
  color: #000;
  background-color: #fff;
}
