@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Базовые стили */

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #e5e5e5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.subtitle {
  width: 230px;
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle-small {
  color: #000;
}

.text-ex-space {
  white-space: nowrap;
}

/* Кнопки */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #7db54f;
  text-transform: uppercase;
  border: 0 solid transparent;
}

.button-big {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 36px;
}

.button-small {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.disabled {
  fill: rgba(0, 0, 0, 0.3);
  opacity: 0.2;
}

/* Цвет кнопок*/

.brown {
  color: #ffffff;
  background-color: #756157;
}

.brown:hover,
.brown:focus {
  background-color: #615048;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.blue:hover,
.blue:focus {
  background-color: #68a2ca;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.green:hover,
.green:focus {
  background-color: #6c9e42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brown:active,
.blue:active,
.green:active {
  color: rgba(255, 255, 255, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* Шапка */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 70px;
}

.navigation-left-link-wrapper {
  display: flex;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 0;
  width: 139px;
  height: 70px;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:active {
  opacity: 0.6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: flex;
  width: 390px;
  margin-left: 169px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-richt-link:hover,
.navigation-richt-link:focus {
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:active,
.navigation-richt-link:active {
  opacity: 0.6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-richt-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  right: 17px;
  bottom: -3px;
  left: 17px;
  display: block;
  height: 2px;
  background-color: #756157;
}

.navigation-right-link-wrapper {
  display: flex;
  align-items: center;
}

.navigation-richt-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 66px;
}

.favorites {
  position: relative;
}

.favorites-number {
  position: absolute;
  top: 14px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
  margin-left: 20px;
  padding: 9px 0;
  border-radius: 4px;
}

.main {
  flex-grow: 1;
}

/* Герой */

.hero {
  width: 100%;
  max-height: 485px;
  box-sizing: border-box;
  text-align: center;
  padding: 51px 0 82px;
  background-color: #82b3d3;
  background-image: url(../images/hero/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
  vertical-align: bottom;
}

.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  margin-top: 25px;
  background-image: url(../images/hero/vector.png);
}

.hero-title {
  width: 630px;
  padding: 62px 290px 31px 285px;
}

.hero-description {
  width: 658px;
  padding: 0;
  margin: 0;
  padding: 0 271px 90px;
  color: #333333;
}

/* Преимущества */

.advantages {
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 33%;
  flex-grow: 1;
  padding: 92px 85px;
}

.advantages-img {
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-picture {
  display: flex;
  color: #fff;
  background-color: #82b3d3;
}

.advantages-featuris {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-featuris-latest {
  width: 33%;
  flex-grow: 1;
  padding: 80px 85px;
  text-align: center;
  box-sizing: border-box;
}

.advantages-featuris-image {
  margin-bottom: 30px;
  vertical-align: bottom;
}

.advantages-item-latest {
  width: 230px;
  padding: 103px 85px 102px;
}

.light-blue {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.second-blue {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

/* Поиск */

.search {
  text-align: center;
}

.search-title {
  padding: 89px 0 29px;
}

.search-descriosion {
  margin: 0;
  color: #333333;
}

.search-button {
  width: 574px;
  padding: 12px 15px;
  margin: 56px 313px 93px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Подписка */

.subscription {
  width: 100%;
  padding: 94px 200px;
  text-align: center;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/subscribe/index-subscription-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  vertical-align: bottom;
}

.subscription-title {
  margin-bottom: 30px;
}

.subscription-label-wrapper {
  width: 475px;
  padding: 0 162px 46px 163px;
}

.subscription-label {
  color: #333333;
}

.subscription-input-wrapper {
  display: flex;
}

.user-field {
  width: 100%;
  padding: 20px 22px 19px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  border: 0 solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.user-field:hover,
.user-field:focus {
  outline: 1px solid #82b3d3;
  outline-offset: 0;
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-field:active {
  opacity: 0.6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-button {
  min-width: 200px;
  padding: 12px 15px;
  line-height: 36px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

/* Подвал */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 142px;
  margin: 0;
  padding: 0;
}


.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 40px;
  padding: 0 12px 0 15px;
  box-sizing: border-box;
}

.social-icon {
  fill: #83b3d3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-tel-link {
  width: 335px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
}

.footer-tel-link:hover,
.footer-tel-link:focus {
  color: #756157;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-tel-link:active {
  color: rgba(117, 97, 87, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.academy-link {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 0;
}

.academy-link:hover .academy-icon,
.academy-link:focus .academy-icon {
  fill: #756157;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.academy-link:active .academy-icon {
  fill: rgba(117, 97, 87, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* Фильтр */

.filter {
  font-size: 18px;
  line-height: 21px;
  padding: 35px 70px 67px;
  color: #fff;
  background-color: #82b3d3;
  background-image: url(../images/filter/catalog-filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper-left {
  display: flex;
}

.filter-wrapper-right {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-bottom: 10px;
}

.breadcrums-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  fill: #ffffff;
  cursor: pointer;
}

.breadcrums-link:hover .union-icon {
  fill: rgba(255, 255, 255, 0.6);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrums-link:focus .union-icon {
  fill: rgba(255, 255, 255, 0.8);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrums-link:active .union-icon {
  fill: rgba(255, 255, 255, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrums-link:hover {
  opacity: 0.6;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrums-link:focus {
  opacity: 0.8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrums-link:active {
  opacity: 0.3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breadcrums-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrums-item {
  display: flex;
  align-items: center;
}

.union-icon {
  padding-left: 2px;
}

.breadcrums-arrow {
  margin-left: 9px;
  margin-right: 8px;
}

.breadcrums-text {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-form-group {
  width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form-group:not(:last-child) {
  margin-right: 70px;
}

.filter-form-list {
  margin: 0;
  padding: 0;
}

.filter-form-item:not(:last-child) {
  padding-bottom: 15px;
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 29px;
  text-transform: capitalize;
}

.controll-input {
  -moz-appearance: textfield;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 12px 12px 15px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.controll-chk,
.controll-radio {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.controll-chk::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.controll-input:hover+.controll-chk::before,
.controll-input:hover+.controll-radio::before {
  background-color: rgba(255, 255, 255, 0.6);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controll-input:focus+.controll-chk::before,
.controll-input:focus+.controll-radio::before {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controll-input:active+.controll-chk::before,
.controll-input:active+.controll-radio::before {
  background-color: rgba(255, 255, 255, 0.3);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controll-input:checked+.controll-chk::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 10px;
  background-image: url(../images/gallery/checked.svg);
}

.controll-radio::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.controll-input:checked+.controll-radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.price-legend {
  margin-left: -2px;
}

.controll-price {
  display: flex;
  width: 287px;
  height: 51px;
  margin-top: 3px;
}

.controll-wrapper-right {
  margin-left: 70px;
}

.control-min-price,
.control-max-price {
  position: relative;
}

.controll-rounding-left {
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}

.controll-rounding-right {
  width: 100%;
  border-left: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}

.controll-rounding-left:hover,
.controll-rounding-right:hover {
  opacity: 0.6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controll-rounding-left:focus,
.controll-rounding-right:focus {
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 3px #81b3d2,
    0px 0px 0px 0px #fff,
    0px 0px 0px 3px #81b3d2;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  outline-offset: 0;
}

.controll-rounding-left:active,
.controll-rounding-right:active {
  background-color: #756257;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-butten {
  width: 160px;
  margin-top: 4px;
  padding: 14px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.filter-reset {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding: 4px 8px 5px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 0;
}

.filter-reset:hover {
  opacity: 0.6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-reset:active {
  opacity: 0.3;
}

.controll-text {
  position: absolute;
  top: 12px;
  right: 17px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 26px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #8b8586;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
  left: -219px;
}

.toggle-max {
  top: -7px;
  right: 52px;
}

.controll-wrapper-right {
  text-align: center;
}

/* Результат */

.results {
  padding-top: 5px;
}

.results-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px 56px 70px;
}

.results-title {
  padding-top: 3px;
}

.results-text {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  border-radius: 4px;
}

.price-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 292px;
  height: 48px;
  padding: 0;
  margin: 0;
  padding: 0 20px;
  margin-left: 192px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  background-color: #fff;
  background-image: url(../images/gallery/arrow-down.svg);
  background-position-x: 93%;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.price-select:hover,
.price-select:focus {
  border: 2px solid #68A2CA;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-select:active {
  border: 2px solid #3F5E72;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.show-wrapper {
  display: flex;
  margin-left: 78px;
}

.show-form-link-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.show-form-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.show-form-link:not(:last-child) {
  margin-right: 8px;
}

.show-form-link-selected:focus,
.show-form-link:focus {
  border: 2px solid #68a2ca;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.show-form-link-selected:hover,
.show-form-link-selected:active,
.show-form-link:hover,
.show-form-link:active {
  border: 2px solid #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* Карточки */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin: 0 72px 66px 72px;
  gap: 0 18px;
}

.cards-item {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}

.cadrs-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-subtitle {
  color: #000000;
  width: 250px;
  margin: 0;
  padding-top: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.cards-subtitle:hover,
.cards-subtitle:focus {
  opacity: 0.8;
}

.cards-subtitle:active {
  opacity: 0.6;
}

.price-card {
  width: 140px;
  margin: 0;
  margin-top: 16px;
}

.result-button {
  width: 140px;
  margin: 0;
  padding: 0;
  padding: 9px 0 8px 0;
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  box-sizing: border-box;
}

.rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-pack: distribute;
  width: 140px;
  height: 37px;
  margin-top: 16px;
  background-repeat: no-repeat;
  background-position: 0 center, 24px center, 48px center, 72px center, 96px center;
}

.rating-link {
  width: 140px;
  margin: 0;
  padding: 0;
  padding: 8px 0 8px 2px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.rating-link:hover,
.rating-link:focus {
  opacity: 0.8;
}

.rating-link:active {
  opacity: 0.6;
}

.two-stars {
  background-image: url(../images/gallery/star.svg),
    url(../images/gallery/star.svg);
}

.three-stars {
  background-image: url(../images/gallery/star.svg),
    url(../images/gallery/star.svg),
    url(../images/gallery/star.svg);
}

.four-stars {
  background-image: url(../images/gallery/star.svg),
    url(../images/gallery/star.svg),
    url(../images/gallery/star.svg),
    url(../images/gallery/star.svg);
}

/* Пагинация */

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 25px 0;
  margin: 0 71px 0 73px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-item:hover,
.pagination-item:focus {
  opacity: 0.8;
}

.pagination-item:active {
  opacity: 0.6;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-first-button {
  width: 60px;
  height: 60px;
  color: #000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-link {
  height: 58px;
  padding: 0;
  margin: 0;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 1px solid #82b3d3;
}

.pagination-buttons:hover,
.pagination-buttons:focus {
  background-color: #68a2ca;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.pagination-buttons:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.number-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 160px;
  height: 49px;
  margin-left: 47px;
  padding: 12px 17px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  background-image: url(../images/gallery/arrow-down.svg);
  background-position-x: 87%;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.number-select:hover,
.number-select:focus {
  border: 2px solid #68A2CA;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.number-select:active {
  border: 2px solid #3F5E72;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.results-price {
  margin: 0;
  padding-top: 2px;
  font-size: 18px;
  line-height: 21px;
}

/* Каталог-подписка */

.subscription-catalog {
  background-image: none;
  color: #000;
  background-color: #fff;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.backdrop.visually-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 250ms linear 250ms;
}

.backdrop.visually-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms linear 0ms;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 715px;
  height: 561px;
  padding: 54px 70px 70px 68px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.modal-title-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 53px;
  margin-bottom: 54px;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url(../images/modal/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:active {
  border: none;
  opacity: 0.2;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.modal-text:not(:last-child) {
  padding-left: 2px;
}

.modal-date-input {
  width: 398px;
  min-height: 44px;
  padding: 0;
  margin: 0;
  padding-left: 16px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 3px solid transparent;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-sizing: content-box;
}

.modal-date-input:hover {
  background-color: #e6e6e6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-date-input:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-date-input:active {
  border: 2px solid #000000;
  margin: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.date-icon {
  position: absolute;
  top: 19px;
  right: 20px;
  opacity: 0.3;
}

.tooltip-text {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  margin-left: 157px;
  margin-bottom: 11px;
}

.red {
  color: #ff5757;
}

.gray-text {
  color: #333333;
}

.modal-people-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.modal-people-input {
  width: 133px;
  height: 50px;
  padding: 0;
  padding-left: 60px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.modal-adults-wrapper {
  margin-right: 65px;
}

.modal-children-wrapper {
  padding-right: 7px;
  margin-left: 54px;
}

.modal-children-attention {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 19px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: #83b3d3;
}

.modal-children-attention-icon {
  position: relative;
}

.overlay {
  position: absolute;
  top: 41px;
  left: -116px;
  width: 256px;
  height: 143px;
  margin: 0;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.overlay::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 117px;
  margin-left: auto;
  margin-right: auto;
  border-right: 9.5px solid transparent;
  border-bottom: 9px solid #333;
  border-left: 9.5px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-children-attention:hover .overlay,
.modal-children-attention:focus .overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.minus-button {
  position: absolute;
  top: 12px;
  right: 96px;
  width: 25px;
  padding: 0;
  height: 25px;
  padding-top: 8px;
  border: 3px solid transparent;
  background-color: transparent;
  opacity: 0.3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.plus-button {
  position: absolute;
  top: 11px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 3px solid transparent;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;
}

.minus-button:hover,
.plus-button:hover {
  opacity: 1;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.minus-button:focus,
.plus-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.minus-button:active,
.plus-button:active {
  opacity: 0.2;
  outline: 0;
  outline-offset: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #83b3d3;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.contact-form-btn:hover {
  background-color: #68a2ca;
}

.contact-form-btn:focus {
  background: #68a2ca;
  outline: 3px solid #756257;
}

.contact-form-btn:active {
  border: none;
  opacity: 0.3;
}
